.contact-form {
  background-color: var(--primary-blue);
  max-width: 90%;
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: var(--border-radius);
  opacity: 0.9;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }

  .form-header {
    margin: 0 auto;
    color: var(--primary-light);
  }

  .contact-input-container {
    display: flex;
    flex-direction: column-reverse;
    box-sizing: content-box;
    width: 80vw;

    .contact-input {
      width: 100%;
      border-radius: var(--border-radius);
      border: 1px solid var(--border-color);
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      box-sizing: content-box;
    }
  }
}

label {
  color: var(--primary-light);
}

hr {
  color: var(--nav-bg-color);
}

input,
textarea {
  opacity: 0.8;

  &:focus {
    opacity: 1;
    text-decoration: none;
  }
}

textarea {
  height: 7rem;
}

@media screen and (min-width: 860px) {
  .contact-form {
    width: 75%;
    margin-top: 10vh;
    .contact-input-container {
      width: 70vw;
    }
  }
}

@media screen and (min-width: 1100px) {
  .contact-form {
    max-width: 850px;

    .contact-input-container {
      max-width: 800px;
    }
  }
}
