:root {
  --primary-blue: #40c1af;
  --primary-light: #d9dbf1;
  --nav-icon-color: var(--primary-light);
  --nav-bg-color: #252627;
  --selected-color: #f79f79;
}
// #00ab44
.App {
  .bg-img {
    opacity: 0.4;
    background-image: url("./assets/images/austinSkyline.jpg");
    background-size: cover;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
    margin-top: 10vh;
  }

  header {
    height: 10vh;
  }

  main {
    margin: 5vh auto;
  }

  footer {
    height: 10vh;
  }
}
